@page
@model BleepControlPanel.ProductCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.naam" class="control-label"></label>
                <input asp-for="Product.naam" class="form-control" />
                <span asp-validation-for="Product.naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.barcode" class="control-label"></label>
                <input type="number" asp-for="Product.barcode" class="form-control" />
                <span asp-validation-for="Product.barcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.prijs" class="control-label"></label>
                <input asp-for="Product.prijs" class="form-control"  asp-is-invariant="true"/>
                <span asp-validation-for="Product.prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ingredient" class="control-label"></label>
                <input asp-for="Product.ingredient" class="form-control" />
                <span asp-validation-for="Product.ingredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.allergie" class="control-label"></label>
                <input asp-for="Product.allergie" class="form-control" />
                <span asp-validation-for="Product.allergie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

